/*Fondo*/
body{
  background-color: lightgray;
  margin: 0;
  padding: 35px 314px;
}

/*Tamaño de imágenes*/
img{
  width: 200px;
}

/*Línea horizontal*/
hr{
  margin: 0;
  width:9%;
  height: 4px;
  background-color: black;
  margin-top: 9px;
}

/*Nombre coders*/
h3{
  color: white;
  font-family: "Courier New";
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  text-align: right;
  text-shadow: -1px 1px 1px #000;
  width: 195px;
}

/*Encabezado "Nuestras Coders"*/
header{
  font-family: "Courier New";
  text-shadow: 1px 1px 1px gray;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px 20px;
}

/*Posición de las imágenes*/
article{
  float:left;
  margin-left: 40px;
  overflow: hidden;
}

/*Margen horizontal entre las imágenes*/
article > img{
  margin: 20px auto;
  display: block;
}

/*Clases para definir la posición en "y" de los nombres de las coders*/
.pic1, .pic2, .pic3{
  top: 268px;
}
.pic4, .pic5, .pic6{
  top: 508px;
}

/*Clase para mover la foto hacia abajo del resto de los floats*/
.pic-4{
  clear: both;
}
